__pycache__/
*.py[cod]
.pytest_cache/
.venv/
.env
*.db
coverage.xml
.coverage
htmlcov/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
*.tfbackend
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
!*.tfvars.example
!*.tfvars.json.example
